<!-- <div style="text-align:center">
    <a href="#" class="btn btn-success">测试标签</a> 
    <hr>
    <app-newone></app-newone>    
    <hr> 
</div> -->

<!-- day02 -->
<!-- <app-template></app-template> -->
<!-- <app-insertdata></app-insertdata> -->
<!-- <app-bindevent></app-bindevent> -->
<!-- <app-domattribute></app-domattribute> -->
<!-- <app-htmlattribute></app-htmlattribute> -->
<!-- <app-classattribute></app-classattribute> -->
<!-- <app-styleattribute></app-styleattribute> -->
<!-- <app-structural-directives></app-structural-directives> -->


<!-- day03 -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-twoway-binddata></app-twoway-binddata> -->
<!-- <app-user-manger></app-user-manger> -->
<!-- <app-common-pipe></app-common-pipe> -->
<!-- <app-user-pipe></app-user-pipe> -->
<!-- <p>{{ msg }}</p>
<input type="text" [(ngModel)]="msg"> -->
<!-- 
    自定义事件触发的方法中 
    $event 就是 方法的传入参数
 -->
<!-- <app-load-data [message]="msg" [list]="arr" [obj]="user" 
    (handleName)="getName($event)"
></app-load-data> -->

<!-- <app-local-variables></app-local-variables> -->
<!-- <app-tmplate-form></app-tmplate-form> -->
<app-tmplate-two-form></app-tmplate-two-form>