<!-- <div style="text-align:center">
    <a href="#" class="btn btn-success">测试标签</a> 
    <hr>
    <app-newone></app-newone>    
    <hr> 
</div> -->

<!-- day02 -->
<!-- <app-template></app-template> -->
<!-- <app-insertdata></app-insertdata> -->
<!-- <app-bindevent></app-bindevent> -->
<!-- <app-domattribute></app-domattribute> -->
<!-- <app-htmlattribute></app-htmlattribute> -->
<!-- <app-classattribute></app-classattribute> -->
<!-- <app-styleattribute></app-styleattribute> -->
<!-- <app-structural-directives></app-structural-directives> -->


<!-- day03 -->
<app-ng-for></app-ng-for>
